<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipepad</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/topphoto(1).ico">
</head>
<body>
    <header>

    </header>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../static/js/content.js"></script>
</body>
</html>